<ion-card *ngIf="showContent()">
    <ion-card-header> You may also Like. </ion-card-header>
    <ion-list>
        <ion-card>
            <ion-item>
                <h2>Nuwara Eliya</h2>
            </ion-item>

            <img src="../../assets/Image/imageTest1.png">

            <ion-card-content>
                <p>Nice view. Good for relaxing. Best place for a vacation</p>
            </ion-card-content>

            <ion-row>
                <ion-col>
                    <ion-label>Colombo - 8.30 A.M.</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label>Nuwara Eliya - 2.30 P.M.</ion-label>
                </ion-col>
                <ion-col align-self-center text-center>
                    <ion-button color="primary"> select </ion-button>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card>
            <ion-item>
                <h2>Benthota</h2>
            </ion-item>

            <img src="../../assets/Image/imageTest2.png">

            <ion-card-content>
                <p>Nice view. Good for relaxing. Best place for a vacation</p>
            </ion-card-content>

            <ion-row>
                <ion-col>
                    <ion-label>Colombo - 6.30 A.M.</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label>Benthota - 9.00 P.M.</ion-label>
                </ion-col>
                <ion-col align-self-center text-center>
                    <ion-button color="primary"> select </ion-button>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card>
            <ion-item>
                <h2>Water World - (Kalaniya)</h2>
            </ion-item>

            <img src="../../assets/Image/imageTest3.png">

            <ion-card-content>
                <p>Educational and Interesting things to learn</p>
            </ion-card-content>

            <ion-row>
                <ion-col>
                    <ion-label>Colombo - 8.30 A.M.</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label>Kalaniya - 10.30 P.M.</ion-label>
                </ion-col>
                <ion-col align-self-center text-center>
                    <ion-button color="primary"> select </ion-button>
                </ion-col>
            </ion-row>
        </ion-card>




    </ion-list>

</ion-card>
